<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="icon" href="./src/img/favicon.ico" type="image/x-icon" />
  <script src="https://api-maps.yandex.ru/2.1/?apikey=7bfdccc3-f838-4da0-bb6d-80f3e76100fa&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  {{> './src/templates/geo-content.hbs'}}
</body>
</html>